<div class="login__body">
    <div class="login__body-logo">
        <img
            class="login__body-logo-img"
            src="/assets/logo.png"
            width="100px"
            height="100px"
        />
        <h4 class="login__body-logo-title">
            Gestor de Ingresos y Gastos Personal
        </h4>
    </div>
    <div class="login__username-input">
        <gig-user-input></gig-user-input>
    </div>

    <div class="login__passwd-input">
        <gig-passwd-input></gig-passwd-input>
    </div>

    <button
        pButton
        class="login__btn p-button-success"
        type="button"
        label="Iniciar Sesión"
    ></button>
</div>
