<span class="p-float-label p-input-icon-right">
    <i
        [ngClass]="icon"
        styleClass="icon"
        (click)="changeShowPassword()"></i>
    <input
        id="passwd-input"
        type="text"
        pPassword
        [feedback]="false"
        [weakLabel]="weak"
        [mediumLabel]="medium"
        [strongLabel]="strong"
        [promptLabel]="passwordPrompt"
        [showPassword]="showPassword"
        #passwdInput
    />
    <label for="passwd-input">Contraseña</label>
</span>
