<gig-container>
    <p-tabView>
        <p-tabPanel header="Vista de  Tabla">
            <gig-table [columns]="columns" [data]="data"></gig-table>
        </p-tabPanel>
        <p-tabPanel header="Informacion">
            <div class="card-container">
                <gig-stat-card [info]="info"></gig-stat-card>
                <gig-stat-card [info]="info2"></gig-stat-card>
                <gig-stat-card [info]="info3"></gig-stat-card>
            </div>
        </p-tabPanel>
    </p-tabView>
</gig-container>
