<gig-container>
    <p-toast position="bottom-center"></p-toast>
    <p-tabView>
        <p-tabPanel header="Vista de  Tabla">
            <div class="btn-new">
                <button (click)="onNew()" pButton>Nuevo Gasto</button>
            </div>

            <gig-create-dialog [(display)]="display" [title]="title">
                <gig-form [display]="display" (displayChange)="hideForm()" (dataChange)="listExpenses()"
                    [expense]="expense"></gig-form>
            </gig-create-dialog>

            <gig-table
                [columns]="expenseHeaders"
                [data]="expenses"
                (onEdit)="onEdit($event)"
                (onDelete)="onDelete($event)"
            >
            </gig-table>

            <p-confirmDialog
                header="Confirmation"
                icon="pi pi-exclamation-triangle"
                acceptLabel="Sí"
            ></p-confirmDialog>
        </p-tabPanel>
        <p-tabPanel header="Informacion"> </p-tabPanel>
    </p-tabView>
</gig-container>
