<div class="login">
    <div class="login__header">
        <h2>Iniciar Sesión</h2>
    </div>
    <div class="login__body">
        <div class="login__body-logo">
            <gig-logo></gig-logo>
            <h4 class="login__body-logo-title">
                Gestor de Ingresos y Gastos Personal
            </h4>
        </div>
        <div class="login__username-input">
            <gig-user-input></gig-user-input>
        </div>

        <div class="login__passwd-input">
            <gig-passwd-input></gig-passwd-input>
        </div>

        <button
            pButton
            class="login__btn p-button-success"
            type="button"
            label="Iniciar Sesión"
        ></button>
        <p class="login__signup-text">
            Regístrate
            <a class="login__signup-link" [routerLink]="'/signup'">aquí</a>
        </p>
    </div>
</div>
