<!--Formulario-->
<div class="form-conatiner">
    <gig-dropdown-option-input
        [options]="accountTypeOptions"
        title="Tipo de Cuenta"
        [selected]="selected"
        (optionChange)="setType($event)"
        required
    ></gig-dropdown-option-input>

    <gig-text-input
        text="Nombre"
        id="name"
        [selected]="account?.name"
        (onDataChanged)="setName($event)"
        required
    ></gig-text-input>

    <gig-text-input
        text="Descripción"
        id="description"
        [selected]="account?.description"
        (onDataChanged)="setDescription($event)"
        required
    ></gig-text-input>
</div>
<!--Botones-->
<div class="button-container">
    <p-button
        icon="pi pi-times"
        (click)="hideForm()"
        label="Cancelar"
        styleClass="p-button-text"
    ></p-button>
    <p-button icon="pi pi-check" (click)="save()" label="Guardar"></p-button>
</div>
