<div class="page-background">
    <div class="login">
        <div class="login__header">
            <h2>Inicie Sesion</h2>
        </div>
        <div class="login__body">
            <div class="login__username-input">
                <span class="p-float-label p-input-icon-right">
                    <input id="float-input" type="text" pInputText />
                    <label for="float-input">Usuario</label>
                    <i class="pi pi-user"></i>
                </span>
            </div>

            <div class="login__passwd-input">
                <span class="p-float-label">
                    <p-password
                        id="float-input"
                        type="password"
                        [feedback]="false"
                        [toggleMask]="true"
                    ></p-password>
                    <label for="float-input">Contraseña</label>
                </span>
            </div>
            <button
                pButton
                class="login__btn p-button-success"
                type="button"
                label="Iniciar Sesion"
            ></button>
        </div>
    </div>
</div>
