@import "~primeicons/primeicons.css";
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login {
    background-color: white;
    width: 30%;
    border-radius: 0.5rem;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 16px 14px 32px 4px rgba(0,0,0,0.64);
    -webkit-box-shadow: 16px 14px 32px 4px rgba(0,0,0,0.64);
    -moz-box-shadow: 16px 14px 32px 4px rgba(0,0,0,0.64);
}

.login h2 {
    color: white;
}

:host ::ng-deep .p-tabview-nav{ 
    border-radius: 2rem 2rem 0 0;
}
:host ::ng-deep .p-tabview .p-tabview-nav li{ 
    border-radius: 0;
    flex: 1; 
}
:host ::ng-deep .p-tabview-nav-link{ 
    justify-content: center;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{ 
    background-color: var(--primary-color-green);
    color: white; 
}

