<p-dialog
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid"
    [(visible)]="visible"
    [closable]="false"
>
    <div class="center-flex">
        <ng-content></ng-content>
    </div>
    <ng-template pTemplate="footer">
        <p-button
            icon="pi pi-times"
            (click)="hideNewForm()"
            label="Cancelar"
            styleClass="p-button-text"
        ></p-button>
        <p-button
            icon="pi pi-check"
            (click)="hideNewForm()"
            label="Guardar"
        ></p-button>
    </ng-template>
</p-dialog>
