<div class="navbar-container">
    <div class="navbar">
        <p-tabMenu class="navbar-options" [model]="navbarItems"></p-tabMenu>
    </div>

    <div class="user-bubble">
        <button
            class="p-button-rounded p-button-success p-button-text"
            pButton
            pRipple
            type="button"
            icon="pi pi-user"
            (click)="op.toggle($event)"
        ></button>
    </div>
</div>
<!--
<p-overlayPanel class="p-overlaypanel p-overlaypanel-content" #op >
    <p-menu [model]="menuItems"></p-menu>
</p-overlayPanel>
-->
<p-menu #op [popup]="true"[model]="menuItems"></p-menu>
